* {
    text-align: center;
    font-family: 'Raleway', Helvetica, sans-serif;
}

.nav{
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
    background-color: #06113C;
    width: 100%;
    height: 40px;
    color: white;
    word-spacing: 40px;
    float: center;
}

a{
    color: white;
    font-size: larger;
    font-weight: bold;
    line-height: 1.2;
}

a:hover{
    cursor: pointer;
    text-decoration: none;
    font-weight: 1000;
}

a:active{
    color: #FF8C32;
}

.image{
    height: 800px;
    top: 30px;
    position: relative; 
    background-position: center top;
    background-size: cover;
    background-image: url("./images/Hintertuxer_Gletscher.jpg");
    border-radius: 3%;
}

article{
    border-radius: 3%;
    background-color:#FF8C32;
    position: relative;
    top: 15px;
}
#Trivia{
    position: relative;
    top: 10px;
    margin-bottom: 100px;
}

.Fact{
    background-color: #DDDDDD;
    border-radius: 3%;
    display: inline-block;
    width: 45%;
    margin: auto 10px;
    vertical-align: top;
}

footer{
    background-color: #EEEEEE;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
